<form method="POST" action="/submit">
  <label for="name">Name</label>
  <input type="text" name="name" id="name"/>
  <label for="language">Language of Choice</label>
  <input type="text" name="language" id="language"/>
  <input type="submit" value="Submit" name="submit"/>
</form>